$primary-color: #0d6efd;
$success-color: #198754;
$danger-color: #dc3545;
$white-color: #ffffff;
$black-color: #000000;

$background-color--blured: #0000005d;

$default-transition-settings: 0.15s ease-out;
$default-animation-settings: 0.3s ease-out forwards;
